body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none !important;
}
.img1{
    width: 100%;
    opacity: 0.8; 
    filter: brightness(50%); 
}
.white{
    color: white;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.f-7{
    font-size: 7rem;
}
.f-3{
    font-size: 1.75rem;
}
.tc{
    text-align: center;
}
.absolute{
    position: absolute;
}
.tl{
    top: 12rem;
    left: 28rem;
}
.m1{
    margin-left: -2rem;
}
.m2{
    margin-left: 2rem;
    margin-top: -1rem;
}
.aaa:hover{
    transform: scale(1.2);
}
.aaa {
    display: inline-block;
    transition-duration: 0.8s;
}
.flex{
    display: flex;
}
.logo{
    width: 6.5rem;
    height: 6.5rem;
}
.mt_1{
    margin-top: 1rem;
}
.ml0c5{
    margin-left: 0.5rem;
}
.ml1c5{
    margin-left: 1.5rem;
}
.red{
    color: #f0372e !important;
}
.mt_-0c75{
    margin-top: -0.75rem;
}
.form-control{
    width: 40rem;
    border-radius: 10rem !important;
}
input{
    padding-left: 1.5rem !important;
    padding-bottom: 0.5rem !important;
}
.mt_2{
    margin-top: 2rem;
}
.ml_10{
    margin-left: 10rem;
}
.fa-search{
    font-size: 1.25rem;
    margin-top: 0.6rem;
    margin-left: -2.5rem;
    color: #f0372e !important;
}
.fa-home{
    font-size: 1.5rem;
}
.ml_3{
    margin-left: 3rem;
}
.ml_6{
    margin-left: 6rem;
}
.t-shadow{
    text-shadow: 0.125rem 0.125rem #adadad !important    ;
}
.carousel-inner img {
    width: 100%;
    height: 28rem;
}
header{
    height: 10rem;
    box-shadow: 0.25rem 0.25rem 3rem red;
}




