@media only screen and (max-width: 1405px){
    .form{
        display: flex;
        flex-direction: column;
    }
    .tab-content>.active{
        width: 90% !important;
    }
    .form-1{
        width: 29rem;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .form-2{
        width: 58rem;
        height: 100%;
        padding-bottom: 4rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        margin-left: 1rem;
        opacity: 90%;
        margin: 0 auto;
    }
    .form-1b{
        width: 29rem;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .form-2b{
        width: 58rem;
        height: 100%;
        padding-bottom: 4rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        margin-left: 1rem;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
}
@media (min-width: 990px) and (max-width: 1024px){
    .form-1{
        margin-top: 2rem;
        width: 29rem;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
    }
}

@media only screen and (max-width: 1000px){
    .bg{
        height: 0rem;
        background-color: transparent;
    }
    .footer1{
        width: 50%;
        color: #271756;
        margin-left: 5%;
    }
    .footer2{
        width: 50%;
        color: #271756;
        margin-left: 5%;
    }
    .input3{
        width: 70%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .input4{
        width: 70%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select1{
        width: 70%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select2{
        width: 70%;
        padding: 0.62rem 1.5rem 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select3{
        width: 70%;
        padding: 0.62rem 1.5rem 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    table, thead, tbody, th, td, tr { 
        display: block; 
    } 
    table tr th{ 
		display: none; 
    }
    .table1, .table1 tr, .table1 td, .table2, .table2 tr, .table2 td, .table3, .table3 tr, .table3 td{
        display: block;
        width: 100%;
    }
    .table1 tr, .table2 tr, .table3 tr{
        margin-bottom: 1rem;
    }
    .table1 td, .table2 td, .table3 td{
        text-align: right;
        padding-left: 50%;
        position: relative;
        border-bottom: 1px solid rebeccapurple;
    }	
	tr { 
        border: 1px solid #ccc; 
        border-radius: 10px;
        padding-bottom: 1rem;
    }	
	td { 
		position: relative;
        padding-left: 50%; 
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 50%; 
		padding-right: 10px; 
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        padding-top: 0.6rem;
	}	
	table.table1 tbody tr .td1:nth-of-type(1):before { content: "STT"; }
	table.table1 tbody tr .td2:nth-of-type(2):before { content: "Mã Sách"; }
	table.table1 tbody tr .td3:nth-of-type(3):before { content: "Tên sách"; }
	table.table1 tbody tr .td4:nth-of-type(4):before { content: "Tên tác giả"; }
	table.table1 tbody tr .td5:nth-of-type(5):before { content: "Thể loại"; }
	table.table1 tbody tr .td6:nth-of-type(6):before { content: "NXB"; }
	table.table1 tbody tr .td7:nth-of-type(7):before { content: "SL"; }
    table.table1 tbody tr .td8:nth-of-type(8):before { content: "Thao tác"; }


    table.table2 tbody tr .td1:nth-of-type(1):before { content: "STT"; }
	table.table2 tbody tr .td2:nth-of-type(2):before { content: "Mã phiếu mượn"; }
	table.table2 tbody tr .td3:nth-of-type(3):before { content: "Mã sách"; }
	table.table2 tbody tr .td4:nth-of-type(4):before { content: "Mã sinh viên"; }
	table.table2 tbody tr .td5:nth-of-type(5):before { content: "Ngày mượn"; }
	table.table2 tbody tr .td6:nth-of-type(6):before { content: "Ngày trả"; }
	table.table2 tbody tr .td7:nth-of-type(7):before { content: "SL"; }
    table.table2 tbody tr .td8:nth-of-type(8):before { content: "Thao tác"; }

    table.table3 tbody tr .td1:nth-of-type(1):before { content: "STT"; }
	table.table3 tbody tr .td2:nth-of-type(2):before { content: "Mã phiếu mượn"; }
	table.table3 tbody tr .td3:nth-of-type(3):before { content: "Mã sách"; }
	table.table3 tbody tr .td4:nth-of-type(4):before { content: "Mã sinh viên"; }
	table.table3 tbody tr .td5:nth-of-type(5):before { content: "Ngày mượn"; }
	table.table3 tbody tr .td6:nth-of-type(6):before { content: "Ngày trả"; }
	table.table3 tbody tr .td7:nth-of-type(7):before { content: "SL"; }

    table .header{
        display: none;
    }
    table tr .no-data{
        padding: 0;
        border: 0;
        text-align: center;
        font-weight: bold;
    }
    .form-1{
        width: 30rem;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .form-1b{
        width: 29rem;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .form-2{
        width: 95%;
        height: 100%;
        padding-bottom: 4rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        margin: 0 auto;
        opacity: 90%;
    }
    .form-2b{
        width: 95%;
        height: 100%;
        padding-bottom: 4rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        margin: 0 auto;
        opacity: 90%;
    }
    .col{
        display: flex;
        flex-direction: column;
    }
    .imggg{
        margin-top: 8rem;
        background-image: url(../img/background.jpg);
        background-size: cover;
        background-position: center;
        /* background-repeat: no-repeat; */
        background-repeat: repeat-y;
    }
}
@media only screen and (max-width: 710px){
    .aaa{
        display: flex;
        flex-direction: column;
    }
    .footer1{
        width: 100%;
        color: #271756;
        margin-left: 0;
        text-align: center;
    }
    .footer2{
        width: 100%;
        color: #271756;
        margin-left: 0;
        text-align: center;
    }
    .c1{
        display: flex;
        justify-content: center;
    }
    .c2{
        text-align: left;
    }
}
@media only screen and (max-width: 565px){
    #ngm-error, #ngtr-error{
        margin-left: 0rem;
    }
    .form-1{
        width: 95%;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .form-1b{
        width: 95%;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .tt{
        color:  #271756 ;
        font-weight: bold;
        margin-bottom: 0rem;
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .tt2{
        color:  #271756 ;
        font-weight: bold;
        margin-left: 1.5rem;
        margin-bottom: 0.25rem;
        display: flex;
        flex-direction: column;
    }
    .sl1{
        width: 100%;
        margin-right: 0;
        float: none;
    }
    .sl2{
        width: 100%;
        float: none;
        margin-right: 0rem;
    }
    .ipd1{
        margin-left: 0;
    }
    .ipd2{
        margin-left: 0;
    }
    .datee{
        width: 92%;
    }
    .input1{
        border-radius: 10rem;
        width: 100%;
        padding: 0.25rem 0 0.25rem 1rem !important;
    }
    .input2{
        border-radius: 10rem;
        width: 100%;
        padding: 0.25rem 0 0.25rem 1rem !important;
    }
    .input3{
        width: 90%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select1{
        width: 90%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select3{
        width: 90%;
        padding: 0.62rem 1.5rem 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .input4{
        width: 90%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select2{
        width: 90%;
        padding: 0.62rem 1.5rem 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .imggg{
        margin-top: 5.5rem;
        background-image: url(../img/background.jpg);
        background-size: cover;
        background-position: center;
        /* background-repeat: no-repeat; */
        background-repeat: repeat-y;
    }
    .d1{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }
}


@media only screen and (max-width: 365px){
    th, td{
        font-size: 0.8rem;
    }
    .d2{
        font-size: 1rem;
        font-weight: 450;
    }
    .imggg{
        margin-top: 3.5rem;
        background-image: url(../img/background.jpg);
        background-size: cover;
        background-position: center;
        /* background-repeat: no-repeat; */
        background-repeat: repeat-y;
    }
}
@media only screen and (max-width: 350px){
    .logogtvt{
        width: 10rem;
    }
    .gtvt{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .header1{
        width: 100%;
        height: 3rem;
    }
    .navbar-toggler{
        position: absolute;
        right: 2rem;
        top: -2.9rem;
        font-size: 1.2rem;
    }
}