body{
    padding: 0;
    margin: 0;
    width: 100%;
}
body, html{
    height: 100%;
}
a{
    text-decoration: none !important;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 7rem;
}
.white{
    color: white;
}
.form-1{
    width: 29rem;
    height: 100%;
    padding-bottom: 3rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    opacity: 90%;
}
.form-1b{
    width: 29rem;
    height: 100%;
    padding-bottom: 3rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    opacity: 90%;
}
.form-2{
    width: 58rem;
    height: 100%;
    padding-bottom: 4rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    margin-left: 1rem;
    opacity: 90%;
}
.form-2b{
    width: 58rem;
    height: 100%;
    padding-bottom: 4rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    margin-left: 1rem;
    opacity: 90%;
}
.gtvt{
    margin-top: 1rem;
    margin-left: 3rem;
}
.flex{
    display: flex;
}
.input1{
    border-radius: 10rem;
    width: 18rem;
    padding: 0.25rem 0 0.25rem 1rem !important;
}
.input2{
    border-radius: 10rem;
    width: 16.5rem;
    padding: 0.25rem 0 0.25rem 1rem !important;
}
.input3{
    width: 20rem;
    padding: 0.62rem 0 0.62rem 1rem !important;
    border-radius: 0.75rem;
}
.input4{
    width: 23rem;
    padding: 0.62rem 0 0.62rem 1rem !important;
    border-radius: 0.75rem;
}
.select1{
    padding: 0.62rem 0 0.62rem 1rem !important;
    border-radius: 0.75rem;
}
.select2{
    padding: 0.62rem 1.5rem 0.62rem 1rem !important;
    border-radius: 0.75rem;
}
.select3{
    padding: 0.62rem 1.5rem 0.62rem 1rem !important;
    border-radius: 0.75rem;
}
.content{
    padding-top: 1.25rem;
    display: flex;
    justify-content: center;
}
section, option{
    border-radius: 10rem;
}
.tts{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: #271756;
    text-align: center;
    margin-bottom: 2rem;
}
.tt{
    color:  #271756 ;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}
.tt2{
    color:  #271756 ;
    font-weight: bold;
    margin-left: 1.5rem;
    margin-bottom: 0.25rem;
}
.sl1{
    float: right;
    clear: both;
    margin-right: 8rem;
}
.sl2{
    float: right;
    clear: both;
    margin-right: 9.3rem;
}
.ip{
    float: right;
    clear: both;
    margin-right: 2rem;
}
.ipd1{
    margin-left: 2.9rem;
}
.ipd2{
    margin-left: 4.3rem;
}
input, select { 
    border:1px solid #ced6e9; 
    border-radius: 10rem;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.bt{
    text-align: center;
}
.btn-outline-danger{
    border-color: #271756 !important;
    color: #271756 !important;
}
.btn-outline-danger:hover{
    color: #feef78 !important;
    background-color: #271756 !important;
}
table, tr, td{
    border: 0px solid #271756;
    padding: 0.1rem 1.25rem 0.1rem 1.25rem;
}
table td, th {
    border:none;
 }
table{
    display: flex;
    justify-content: center;
    border: none;
}
.td1{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 2.5rem;
}
.td2{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 8rem;
}
.td3{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 10rem;
}
.td4{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 10rem;
}
.td5{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 10rem;
}
.td6{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 5rem;
}
.td7{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 3rem;
}
.td8{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 8rem;
}
.td2b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 9rem;
}
.td3b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 9rem;
}
.td4b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 8rem;
}
.td5b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 9rem;
}
.td6b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 9rem;
}
.td7b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 3rem;
}
.td8b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 9rem;
}
th, td{
    color: #271756;
    text-align: center;
}
/* .flex-center{
    display: flex;
    justify-content: center;
    margin-top: -46rem;
    z-index: 100;
} */
.logo{
    font-weight: bold;
    font-size: 1.25rem;
    padding-top: 0.35rem;
}
.imggg{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.error{
    color: red;
    font-size: 0.8rem;
    padding-left: 1rem;
}
.invalid{
    box-shadow: red 0px 0px 5px;
}
.valid{
    box-shadow: green 0px 0px 5px;
}
#ngm-error, #ngtr-error{
    margin-left: 9rem;
}
.action,
.action:hover{
    color: #271756;
}
input:focus, select:focus{
    outline: none;
}
.btn-outline-danger:focus{
    outline: 0 !important;
}
.sync{
    float: right;
    clear: both;
    margin-right: 2rem;
    margin-top: -2.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #271756;
    opacity: 70%;
    transition: 0.3s;
}
.sync:hover{
    opacity: 100%;
}
tr th{
    background-color: #271756;
    color: white;
}
.form{
    display: flex;
    flex-direction: row;
}
.btn:focus {
    box-shadow: none;
}
tbody tr:nth-child(odd)
{
    background-color: #d4d4d4;
}
tbody tr:hover{
    cursor: pointer;
    background-color: #c5c4c4;
    transition: 0.7s;
}
tbody tr:hover td{
    color: #4000ff;
}
.fa-bars{
    font-size: 70%;
}
/* Responsive */

@media only screen and (max-width: 1405px){
    .form{
        display: flex;
        flex-direction: column;
    }
    .tab-content>.active{
        width: 90% !important;
    }
    .form-1{
        width: 29rem;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .form-2{
        width: 58rem;
        height: 100%;
        padding-bottom: 4rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        margin-left: 1rem;
        opacity: 90%;
        margin: 0 auto;
    }
    .form-1b{
        width: 29rem;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .form-2b{
        width: 58rem;
        height: 100%;
        padding-bottom: 4rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        margin-left: 1rem;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 1000px){
    .input3{
        width: 70%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .input4{
        width: 70%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select1{
        width: 70%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select2{
        width: 70%;
        padding: 0.62rem 1.5rem 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select3{
        width: 70%;
        padding: 0.62rem 1.5rem 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    table, thead, tbody, th, td, tr { 
        display: block; 
    } 
    table tr th{ 
		display: none; 
    }
    .table1, .table1 tr, .table1 td, .table2, .table2 tr, .table2 td, .table3, .table3 tr, .table3 td{
        display: block;
        width: 100%;
    }
    .table1 tr, .table2 tr, .table3 tr{
        margin-bottom: 1rem;
    }
    .table1 td, .table2 td, .table3 td{
        text-align: right;
        padding-left: 50%;
        position: relative;
        border-bottom: 1px solid rebeccapurple;
    }	
	tr { 
        border: 1px solid #ccc; 
        border-radius: 10px;
        padding-bottom: 1rem;
    }	
	td { 
		position: relative;
        padding-left: 50%; 
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 50%; 
		padding-right: 10px; 
        white-space: nowrap;
        font-weight: bold;
        text-align: left;
        padding-top: 1rem;
	}	
	table.table1 tbody tr td:nth-of-type(1):before { content: "STT"; }
	table.table1 tbody tr td:nth-of-type(2):before { content: "Mã Sách"; }
	table.table1 tbody tr td:nth-of-type(3):before { content: "Tên sách"; }
	table.table1 tbody tr td:nth-of-type(4):before { content: "Tên tác giả"; }
	table.table1 tbody tr td:nth-of-type(5):before { content: "Thể loại"; }
	table.table1 tbody tr td:nth-of-type(6):before { content: "NXB"; }
	table.table1 tbody tr td:nth-of-type(7):before { content: "SL"; }
    table.table1 tbody tr td:nth-of-type(8):before { content: "Thao tác"; }


    table.table2 tbody tr td:nth-of-type(1):before { content: "STT"; }
	table.table2 tbody tr td:nth-of-type(2):before { content: "Mã phiếu mượn"; }
	table.table2 tbody tr td:nth-of-type(3):before { content: "Mã sách"; }
	table.table2 tbody tr td:nth-of-type(4):before { content: "Mã sinh viên"; }
	table.table2 tbody tr td:nth-of-type(5):before { content: "Ngày mượn"; }
	table.table2 tbody tr td:nth-of-type(6):before { content: "Ngày trả"; }
	table.table2 tbody tr td:nth-of-type(7):before { content: "SL"; }
    table.table2 tbody tr td:nth-of-type(8):before { content: "Thao tác"; }

    table.table3 tbody tr td:nth-of-type(1):before { content: "STT"; }
	table.table3 tbody tr td:nth-of-type(2):before { content: "Mã phiếu mượn"; }
	table.table3 tbody tr td:nth-of-type(3):before { content: "Mã sách"; }
	table.table3 tbody tr td:nth-of-type(4):before { content: "Mã sinh viên"; }
	table.table3 tbody tr td:nth-of-type(5):before { content: "Ngày mượn"; }
	table.table3 tbody tr td:nth-of-type(6):before { content: "Ngày trả"; }
	table.table3 tbody tr td:nth-of-type(7):before { content: "SL"; }

    /* td:nth-of-type(1):before { content: "STT"; }
	td:nth-of-type(2):before { content: "Mã Sách"; }
	td:nth-of-type(3):before { content: "Tên sách"; }
	td:nth-of-type(4):before { content: "Tên tác giả"; }
	td:nth-of-type(5):before { content: "Thể loại"; }
	td:nth-of-type(6):before { content: "NXB"; }
	td:nth-of-type(7):before { content: "SL"; }
    td:nth-of-type(8):before { content: "Thao tác"; } */
    .form-1{
        width: 30rem;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .form-1b{
        width: 29rem;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .form-2{
        width: 95%;
        height: 100%;
        padding-bottom: 4rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        margin: 0 auto;
        opacity: 90%;
    }
    .form-2b{
        width: 95%;
        height: 100%;
        padding-bottom: 4rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        margin: 0 auto;
        opacity: 90%;
    }
    .col{
        display: flex;
        flex-direction: column;
    }
    .imggg{
        background-image: url(../img/background.jpg);
        background-size: cover;
        background-position: center;
        /* background-repeat: no-repeat; */
        background-repeat: repeat-y;
        height: 1000vh;
    }
}
@media only screen and (max-width: 565px){
    .form-1{
        width: 95%;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .form-1b{
        width: 95%;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    .tt{
        color:  #271756 ;
        font-weight: bold;
        margin-bottom: 0rem;
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .tt2{
        color:  #271756 ;
        font-weight: bold;
        margin-left: 1.5rem;
        margin-bottom: 0.25rem;
        display: flex;
        flex-direction: column;
    }
    .sl1{
        width: 100%;
        margin-right: 0;
        float: none;
    }
    .sl2{
        width: 100%;
        float: none;
        margin-right: 0rem;
    }
    .ipd1{
        margin-left: 0;
    }
    .ipd2{
        margin-left: 0;
    }
    .datee{
        width: 92%;
    }
    .input1{
        border-radius: 10rem;
        width: 100%;
        padding: 0.25rem 0 0.25rem 1rem !important;
    }
    .input2{
        border-radius: 10rem;
        width: 100%;
        padding: 0.25rem 0 0.25rem 1rem !important;
    }
    .input3{
        width: 90%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select1{
        width: 90%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select3{
        width: 90%;
        padding: 0.62rem 1.5rem 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .input4{
        width: 90%;
        padding: 0.62rem 0 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
    .select2{
        width: 90%;
        padding: 0.62rem 1.5rem 0.62rem 1rem !important;
        border-radius: 0.75rem;
        margin-bottom: 1rem;
    }
}


@media (min-width: 990px) and (max-width: 1024px){
    .form-1{
        margin-top: 2rem;
        width: 29rem;
        height: 100%;
        padding-bottom: 3rem;
        box-shadow: 0rem 0rem 1rem black;
        background-color: #eeefef;
        opacity: 90%;
    }
}


