html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
}
body, html{
    height: 100%;
}
.imgmain{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none !important;
}
li{
    list-style: none;
}
.header1{
    width: 100%;
    height: 7rem;
}
header{
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 100%;
}
.white{
    color: white;
}
.form-1{
    width: 29rem;
    height: 100%;
    padding-bottom: 3rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    opacity: 90%;
}
.form-1b{
    width: 29rem;
    height: 100%;
    padding-bottom: 3rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    opacity: 90%;
}
.form-2{
    width: 58rem;
    height: 100%;
    padding-bottom: 4rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    margin-left: 1rem;
    opacity: 90%;
}
.form-2b{
    width: 58rem;
    height: 100%;
    padding-bottom: 4rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    margin-left: 1rem;
    opacity: 90%;
}
.gtvt{
    margin-top: 1rem;
    margin-left: 3rem;
}
.flex{
    display: flex;
}
.input1{
    border-radius: 10rem;
    width: 18rem;
    padding: 0.25rem 0 0.25rem 1rem !important;
}
.input2{
    border-radius: 10rem;
    width: 16.5rem;
    padding: 0.25rem 0 0.25rem 1rem !important;
}
.input3{
    width: 20rem;
    padding: 0.62rem 0 0.62rem 1rem !important;
    border-radius: 0.75rem;
}
.input4{
    width: 23rem;
    padding: 0.62rem 0 0.62rem 1rem !important;
    border-radius: 0.75rem;
}
.select1{
    padding: 0.62rem 0 0.62rem 1rem !important;
    border-radius: 0.75rem;
}
.select2{
    padding: 0.62rem 1.5rem 0.62rem 1rem !important;
    border-radius: 0.75rem;
}
.select3{
    padding: 0.62rem 1.5rem 0.62rem 1rem !important;
    border-radius: 0.75rem;
}
.content{
    padding-top: 1.25rem;
    display: flex;
    justify-content: center;
}
section, option{
    border-radius: 10rem;
}
.tts{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: #271756;
    text-align: center;
    margin-bottom: 2rem;
}
.tt{
    color:  #271756 ;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}
.tt2{
    color:  #271756 ;
    font-weight: bold;
    margin-left: 1.5rem;
    margin-bottom: 0.25rem;
}
.sl1{
    float: right;
    clear: both;
    margin-right: 8rem;
}
.sl2{
    float: right;
    clear: both;
    margin-right: 9.3rem;
}
.ip{
    float: right;
    clear: both;
    margin-right: 2rem;
}
.ipd1{
    margin-left: 2.9rem;
}
.ipd2{
    margin-left: 4.3rem;
}
input, select { 
    border:1px solid #ced6e9; 
    border-radius: 10rem;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.bt{
    text-align: center;
}
.btn-outline-danger{
    border-color: #271756 !important;
    color: #271756 !important;
}
.btn-outline-danger:hover{
    color: #feef78 !important;
    background-color: #271756 !important;
}
table, tr, td{
    border: 0px solid #271756;
    padding: 0.1rem 1.25rem 0.1rem 1.25rem;
}
table td, th {
    border:none;
 }
table{
    display: flex;
    justify-content: center;
    border: none;
}
.td1{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 2.5rem;
}
.td2{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 8rem;
}
.td3{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 10rem;
}
.td4{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 10rem;
}
.td5{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 10rem;
}
.td6{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 5rem;
}
.td7{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 3rem;
}
.td8{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 8rem;
}
th, td{
    color: #271756;
    text-align: center;
}
.logo{
    font-weight: bold;
    font-size: 1.25rem;
    padding-top: 0.35rem;
}
.bg{
    height: 8rem;
    background-color: transparent;
}
.imggg{
    margin-top: 10.5rem;
    padding-bottom: 0rem;
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.error{
    color: red;
    font-size: 0.8rem;
    padding-left: 1rem;
}
.invalid{
    box-shadow: red 0px 0px 5px;
}
.valid{
    box-shadow: green 0px 0px 5px;
}
#ngm-error, #ngtr-error{
    margin-left: 9rem;
}
.action,
.action:hover{
    color: #271756;
}
input:focus, select:focus{
    outline: none;
}
.btn-outline-danger:focus{
    outline: 0 !important;
}
.sync{
    float: right;
    clear: both;
    margin-right: 2rem;
    margin-top: -2.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #271756;
    opacity: 70%;
    transition: 0.3s;
}
.sync:hover{
    opacity: 100%;
}
tr th{
    background-color: #271756;
    color: white;
}
.form{
    display: flex;
    flex-direction: row;
}
.btn:focus {
    box-shadow: none;
}
#dms tbody tr:nth-child(odd),
#dmmt tbody tr:nth-child(odd),
#lsmt tbody tr:nth-child(odd){
    background-color: #d4d4d4;
}
#dms tbody tr:hover td,
#dmmt tbody tr:hover td{
    cursor: pointer;
    background-color: #c5c4c4;
    color: #4000ff;
    transition: 0.5s;
}
