body{
    padding: 0;
    margin: 0;
    width: 100%;
}
a{
    text-decoration: none !important;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 7rem;
}
.white{
    color: white;
}
.form-1{
    width: 29rem;
    height: 100%;
    padding-bottom: 3rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    opacity: 90%;
}
.form-1b{
    width: 29rem;
    height: 100%;
    padding-bottom: 3rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    opacity: 90%;
}
.form-2{
    width: 58rem;
    height: 100%;
    padding-bottom: 4rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    margin-left: 1rem;
    opacity: 90%;
}
.form-2b{
    width: 58rem;
    height: 100%;
    padding-bottom: 4rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #eeefef;
    margin-left: 1rem;
    opacity: 90%;
}
.gtvt{
    margin-top: 1rem;
    margin-left: 3rem;
}
.flex{
    display: flex;
}
.input1{
    border-radius: 10rem;
    width: 18rem;
    padding: 0.25rem 0 0.25rem 1rem !important;
}
.input2{
    border-radius: 10rem;
    width: 16.5rem;
    padding: 0.25rem 0 0.25rem 1rem !important;
}
.content{
    padding-top: 1.25rem;
    display: flex;
    justify-content: center;
}
section, option{
    border-radius: 10rem;
}
.tts{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: #271756;
    text-align: center;
    margin-bottom: 2rem;
}
.tt{
    color:  #271756 ;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}
.tt2{
    color:  #271756 ;
    font-weight: bold;
    margin-left: 1.5rem;
    margin-bottom: 0.25rem;
}
.sl1{
    float: right;
    clear: both;
    margin-right: 8rem;
}
.sl2{
    float: right;
    clear: both;
    margin-right: 9.3rem;
}
.ip{
    float: right;
    clear: both;
    margin-right: 2rem;
}
.ipd1{
    margin-left: 2.9rem;
}
.ipd2{
    margin-left: 4.3rem;
}
input, select { 
    border:1px solid #ced6e9; 
    border-radius: 10rem;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
.bt{
    text-align: center;
}
.btn-outline-danger{
    border-color: #271756 !important;
    color: #271756 !important;
}
.btn-outline-danger:hover{
    color: #feef78 !important;
    background-color: #271756 !important;
}
table, tr, td{
    border: 1px solid #271756;
    padding: 0.1rem 1.25rem 0.1rem 1.25rem;
}
table{
    display: flex;
    justify-content: center;
    border: none;
}
.td1{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 2.5rem;
}
.td2{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 8rem;
}
.td3{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 10rem;
}
.td4{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 10rem;
}
.td5{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 10rem;
}
.td6{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 5rem;
}
.td7{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 3rem;
}
.td8{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 8rem;
}
.td2b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 9rem;
}
.td3b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 9rem;
}
.td4b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 8rem;
}
.td5b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 9rem;
}
.td6b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 9rem;
}
.td7b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 3rem;
}
.td8b{
    padding: 0.1rem 0 0.1rem 0;
    text-align: center;
    width: 9rem;
}
th, td{
    color: #271756;
    text-align: center;
}
/* .flex-center{
    display: flex;
    justify-content: center;
    margin-top: -46rem;
    z-index: 100;
} */
.logo{
    font-weight: bold;
    font-size: 1.25rem;
    padding-top: 0.35rem;
}
.imggg{
    background-image: url(../img/background.jpg);
    background-size: 100% 100%;
}
.error{
    color: red;
    font-size: 0.8rem;
    padding-left: 1rem;
}
.invalid{
    box-shadow: red 0px 0px 5px;
}
#ngm-error, #ngtr-error{
    margin-left: 9rem;
}
.action,
.action:hover{
    color: #271756;;
}