.nav-bar{
    width: 100%;
    background-color: #feef78;
}
ul li{
    display: inline-block;
}
.nav-link{
    color: #271756 !important;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    transition: 0.3s;
}
.nav-pills .nav-link.active{
    background-color: transparent;
}
.nav-pills .nav-link:hover{
    background-color: #fa6166;
}
.nav-pills .nav-link{
    border-radius: 3rem;
}
.logo{
    margin-left: 0rem;
    margin-right: 0rem;
}
ul .logo{
    padding-left: 2rem;
    padding-right: 2rem;
}
ul .logo:hover{
    background-color: #fa6166;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 3rem;
}
button:focus{
    outline: none;
}

@media only screen and (max-width: 1024px){
    .navbar-toggler{
        position: absolute;
        right: 2rem;
        top: -5.5rem;
        font-size: 2.5rem;
    }
    /* .nav-bar{
        width: 100%;
        background-color: #feef78;
        text-align: center;
    } */
    .navbar{
        padding: 0 !important;
    }
    .navbar-collapse{
        position: absolute;
        top: 0rem;
        z-index: 100;
        width: 100%;
        background-color: #feef78;
        text-align: center;
    }

}

@media only screen and (max-width: 550px){
    .logogtvt{
        width: 15rem;
    }
    .gtvt{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    header{
        width: 100%;
        height: 4.5rem;
    }
    .navbar-toggler{
        position: absolute;
        right: 2rem;
        top: -4rem;
        font-size: 1.8rem;
    }
}